@page "/biblia"
@using APIBible.Data
@using Microsoft.AspNetCore.Components
@inject NavigationManager navigationManager

<PageTitle>Bilia Online</PageTitle>

@if (errorMessage == null)
{
    <!-- Tela inicial -->
    <div class="container">
        <h1 class="title">Bíblia</h1>
        <div class="books">
            @foreach (var books in model)
            {
                <a @onclick="(() => ChangePage(books.abbrev.pt, books.name))">
                    <div class="book">

                        <h3 class="book-title">@books.name</h3>
                        <p class="chapter-count">@books.chapters Capítulos</p>

                    </div>
                </a>
            }
        </div>
    </div>
}
else
{
    <p>Erro - @errorMessage.ToString()</p>
}


@code {
    private BibleModel[] model;
    private bool isLoading = true;
    private string errorMessage;

    protected override void OnInitialized()
    {
        try
        {
            var bibleAPIService = new BibleAPIService(new HttpClient());
            model = bibleAPIService.GetBooks();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            isLoading = false;
        }
    }
    private void ChangePage(string abbrev, string Name) => navigationManager.NavigateTo("/lerbiblia/" + abbrev + "/" + Name);
}
